<h2>
<%= link_to '新規', new_reception_path, class: 'header-menu' %>
一覧
</h2>
<ul>
    <% @receptions.each do |reception| %>
        <li>
        <%=link_to reception.productno, reception_path(reception.id) %>
        <%= reception.id %>
        <%= reception.steeltype %>
        <%= reception.size %>
        <%= reception.quantity %>
        <%=link_to '[編集]', edit_reception_path(reception), claa: 'command' %>
        <%=link_to '[削除]' ,
            reception_path(reception),
            method: :delete, 
            class: 'command',
            data: { confirm: '削除してよろしいですか？' }%>
        </li>
    <% end %>
</ul>

<%= form_tag import_receptions_path, multipart: true do %>
    <%= file_field_tag :file %>    
    <%= submit_tag "インポート" 
    %>
<% end %>
