<h2>【指示番号】<%= @reception.productno %></h2>
<p>【製造番号】<%= simple_format @reception.lotno %></p>
<p>【製品コード】<%= simple_format @reception.producttype %></p>
<p>【鋼種】<%= simple_format @reception.steeltype %></p>
<p>【サイズ】<%= simple_format @reception.size %></p>

